{{extend './layout/main.html'}} {{block 'context'}}
<style type="text/css">
    #box {
        background-color: rgba(234, 84, 84, 0.2);
        width: 300px;
        height: 360px;
        margin-top: 10px;
        overflow: hidden;
        padding: 0;
    }
    
    #box p {
        padding: 0 15px;
    }
    
    #lrc {
        margin-top: 30px;
        position: absolute;
        text-align: center;
        width: 100%;
        /* padding-top: 60px; */
        /* border: 1px solid red; */
    }
    
    .gl {
        color: white;
        background-color: pink;
    }
</style>

<div class="container">
    <div class="page-header">
        <h1>首页--<small>我的音乐</small></h1>
    </div>
    <a href="/music/add" class="btn btn-success">添加音乐</a>
</div>
<div class="container">
    <div class="row" style="display: flex;">
        <div style="flex: 3; margin-right: 10px;">
            <table class="table table-striped table-hover">
                <thead>
                    <!-- <th>编号</th> -->
                    <th>歌曲标题</th>
                    <th>时长</th>
                    <th>歌手</th>
                    <th>编辑</th>
                    <th>删除</th>
                    <th>播放</th>
                </thead>
                <tbody class="list_container" id="list_container">
                    {{each musics}}
                    <tr>
                        <!-- <td>1</td> -->
                        <td>{{$value.title}}</td>
                        <td>{{$value.singer}}</td>
                        <td>{{$value.time}}</td>
                        <td><a href="/music/edit?id={{$value.id}}">编辑</a></td>
                        <td><a class="del" href="">删除</a></td>
                        <td><span style="cursor:pointer" file="{{$value.file}}" filelrc="{{$value.filelrc}}" class="glyphicon glyphicon-play-circle ply"></span></td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        <div style="flex: 2">
            <p>正在播放音乐:</p>
            <audio id="audio" autoplay src="" controls="controls">
            </audio>
            <div id="box" class="col-md-3">
                <div id="lrc">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 解析歌词文件
    function parseFilelrc(filelrc) {
        let tempObj = {};

        let lines = filelrc.split('\n');
        console.log(lines);
        // [00:00.98]告白气球"
        let regex = /\[(\d{2})\:(\d{2})\.(\d{2})\](.*)/;

        lines.forEach((item, index) => {
            let result = regex.exec(item);

            if (!result) return;
            console.log(result);
            let minutes = result[1];
            let second = result[2];
            let content = result[4];

            let key = (minutes * 60) + (second - 0);
            tempObj[key] = content;

        });

        return tempObj;

    }


    // 生成DOM
    function createDom(object) {
        console.log(object)
        let html = "";
        for (const key in object) {
            // console.log(key);
            if (object[key]) {
                html += '<p time=' + key + '>' + object[key] + '</p>'
            }
        }
        $('#lrc').html(html);
    }

    // 开始滚动
    function startScroll(object) {
        $('#audio').on('timeupdate', function(e) {
            // console.log(e.target.currentTime);
            let second = Math.round(e.target.currentTime);

            // console.log(second);
            if (!object[second]) return;

            let p = $("#lrc").find('p[time=' + second + ']');

            let top = $('#lrc').offset().top;
            // console.log(top);
            let currentP = $(p).offset().top;

            let chaVal = parseInt(top - currentP);
            // console.log("chaVal:", chaVal);


            $('#lrc').animate({
                top: chaVal
            }, 'slow');

            $(p).addClass('gl').siblings().removeClass('gl')
                // console.log(currentP)
        })
    }
    // 点击播放
    $('.ply').on('click', function(e) {
        var file = $(this).attr('file');
        var filelrc = $(this).attr('filelrc');

        //请求歌词文件
        axios.get(filelrc)
            .then(res => {
                // 解析歌词
                let FilelrcObj = parseFilelrc(res.data);
                // 生成dom
                createDom(FilelrcObj);

                // 开始滚动
                startScroll(FilelrcObj)


                $("#audio").attr('src', file);
            }).catch(err => {
                console.log(err)
            })


    })
</script>

{{/block}}