{{extend './layout/main.html'}} {{block 'context'}}
<style type="text/css">
    #pwd-level div {
        height: 30px;
        width: 30px;
        display: inline-block;
        float: left;
    }
    
    #pwd-level span {
        display: inline-block;
        float: left;
    }
</style>
<div class="aw-register-box">
    <div class="mod-head">
        <a href="/"></a>
        <h1>注册新用户</h1>
    </div>
    <div class="mod-body">
        <form action="" class="aw-register-form" method="post" id="register_form">
            <ul>
                <li class="alert alert-danger hide error_message text-left">
                    <i class="icon icon-delete"></i> <em></em>
                </li>
                <li>
                    <input class="aw-register-name form-control" type="text" name="username" placeholder="用户名" value="" id="username" />
                </li>
                <li>
                    <input class="aw-register-email form-control" type="text" placeholder="邮箱" name="email" value="" />
                </li>
                <li>
                    <input class="aw-register-pwd form-control" type="password" name="password" placeholder="密码" />
                </li>
                <div id='pwd-level'>
                    <span>密码强度:</span>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <hr />
                <li class="aw-register-verify">
                    <img class="pull-right" width="120" src="/user/get-pic" onclick="this.src='/user/get-pic?'+Date.now()">
                    <input type="text" class="form-control" name="v_code" placeholder="验证码" />
                </li>
                <li class="last">
                    <label>
                        <input type="checkbox" checked="checked" value="agree" /> 我同意</label> <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
                    <a href="/login" class="pull-right">已有账号?</a>
                    <div class="aw-regiter-agreement hide">
                        <div class="aw-register-agreement-txt" id="register_agreement"></div>
                    </div>
                </li>
                <li class="clearfix">
                    <button type="submit" class="btn btn-large btn-blue btn-block">
                        注册
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>


<!-- js -->
<script>
    // 用户名校验是否存在
    function checkName() {
        console.log("执行一次")
        let timer;
        return function(e) {
            timer && clearTimeout(timer);
            timer = setTimeout(function(param) {
                axios.post('/user/check-username', {
                    username: e.target.value
                }).then(res => {
                    if (res.data.code == '001') {
                        alert("可以注册")
                    } else {
                        alert(res.data.message)
                    }
                }).catch(err => {
                    alert(err.message)
                })
            }, 500)
        }
    }

    $('#username').on("keyup", checkName());

    // 提交注册
    $('#register_form').on("submit", function(e) {
        // 禁止默认提交事件
        e.preventDefault();

        let formData = $(this).serialize();
        console.log(formData)

        axios.post('/user/register', formData).then(function(res) {
            console.log(res);
            if (res.data.code === '001') {
                alert("注册成功")
            } else {
                alert('注册失败:' + res.data.message);
            }
        }).catch(function(err) {
            console.log(err)
        })

    });
</script>
{{/block}}