.content{
    color: pink;
}
.success{
    /*background-color: hotpink;*/
}
body{
    opacity: 0;
    color: black;
    background: pink;
    position: fixed;
    font-size: 0.3rem;
}

button{
    font-size: 0.24rem;
}