<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
        #chenggong, #shibai {
            display: none;
        }

        .liuyankuai {
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
        }
        .mybox{
            margin-top: 100px;
        }
        a:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
<!--<h1>我的留言本</h1>-->
<div class="container mybox">
    <div class="row">
        <form class="form-horizontal col-lg-6">
            <div class="form-group">
                <label for="xingming" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="xingming" name="xingming" placeholder="姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="liuyan" class="col-sm-2 control-label">留言</label>

                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="liuyan" id="liuyan"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="tijiao" type="button" class="btn btn-success">提交</button>
                </div>
            </div>

            <div class="alert alert-success" role="alert" id="chenggong">
                <a href="#" class="alert-link">表单已经成功提交</a>
            </div>
            <div class="alert alert-danger" role="alert" id="shibai">
                <a href="#" class="alert-link">表单提交失败</a>
            </div>
        </form>
    </div>

    <!--分页符-->
    <nav style="text-align: center">
        <ul class="pagination">
            <% for(var i = 1 ; i<=pageamount; i++){%>
                <li class="yemaanniu" data-page="<%=i%>"><a href="#"><%=i%></a></li>
            <%}%>
        </ul>
    </nav>

    <!--留言框-->
    <div id="liuyanBox">
         <!--<div class="liuyankuai">-->
             <!--<p>【姓名】 </p>-->
             <!--<p>【留言】 </p>-->
             <!--<p>【时间】 </p>-->
             <!--<p><a href="#" class="shanchu">删除</a> </p>-->
         <!--</div>-->
    </div>
</div>

<script src="http://s.xnimg.cn/a94371/wap/mobile/2017activity/listingPage/wap-page/js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>


<script>
  window.onload=function () {
      getData(1);
      $('.yemaanniu:first').addClass('active')

      //点击按钮页码
      $('.yemaanniu').on('click',function () {

          if($(this).hasClass('active')){ //判断是否点击选中的页码
              return
          }

          let page = parseInt($(this).attr('data-page'));
          getData(page);
          $(this).addClass('active').siblings().removeClass('active')

      })


      console.log( $('#liuyanBox'))
      //删除
      $('#liuyanBox')[0].addEventListener('click',function (event) {
          console.log(event.target);
          var target = event.target;
          var id =$(target).attr('data-id');
          deleteMsg(id ,target)
      })
  }
    // <!--提交表单-->
   $('#tijiao').click(function () {
       $("#shibai").hide();
       $("#chenggong").hide();

       var name =$("#xingming").val();
       var msg =$("#liuyan").val();

       if(!name){
           alert("请填写姓名");
           return
       }
       if(!msg){
           alert("请填写留言");
           return
       }
       //增加留言
       addMsg()

   })

  //增加留言 (提交)
  function addMsg() {
      //提交表单ajax
      $.ajax({
          url:'/tijiao',
          type:'post',
          data:{
              "xingming": $("#xingming").val(),
              "liuyan": $("#liuyan").val()
          },
          success:function (result) {

              if(result.result ==-1) {
                  $("#shibai").fadeIn();

              }else if(result.result ==1){
                  //提交成功
                  $("#xingming").val('');
                  $("#liuyan").val('')
                  $("#chenggong").fadeIn();

                  getData(1);
                  $(".yemaanniu:first").addClass('active').siblings().removeClass('active')
              }
          }

      })
  }

    //获取留言
    function getData(page) {
        //获取留言
        $.ajax({
            url:'/find?page='+(page-1),
            type:'get',
            success:function (result) {
                console.log(result)
                if(result.code==1){
                    liuYanHtml(result.data ,page)
                }
            }
        })
    }

    //删除留言
    function deleteMsg(id ,target) {
      console.log(id)
        $.ajax({
            url:'/delete?id='+id,
            type:'get',
            success:function (result) {
                console.log(result)
                if(result.code==1){
                    $(target).parent().parent().remove();
                   console.log("删除成功")
                }
            }
        })
    }


    //赋值html留言
    function liuYanHtml(result ,page) {
       var html = '';

       for (var i= 0; i <result.length;i++){

           var tempTime =result[i].time.replace(/\.[0-9a-zA-Z]{4}/ig,'').replace(/T/,' ')

          var time = timeChange(tempTime)

           var id=result[i]._id;

           html+=' <div class="liuyankuai">\n' +
               '  <p>【序号】 '+parseInt((i+1)+(page-1)*5) +'</p>\n' +
               '  <p>【姓名】 '+ result[i].name+'</p>\n' +
               '  <p>【留言】 '+ result[i].liuyan+'</p>\n' +
               '  <p>【时间】 '+ time+'</p>\n' +
               '  <p><button   class="shanchu" data-id="'+result[i]._id+'">删除</button> </p>\n' +
               '</div>'
       }
        // $('#liuyanBox').append($(html))
        $('#liuyanBox').html($(html))
    }


    function timeChange(time) {
        var date = new Date(time);

        var year = date.getFullYear();
        var month =  date.getMonth()+1;
        var day = date.getDay() ;
        var hours = date.getHours()+8;
        var minutes = date.getMinutes();
        var second = date.getSeconds();
        return year+'-'+month +'-'+ day+" "+hours+':'+minutes+':'+second
    }

</script>

</body>
</html>