<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
   <h5>请登录</h5>

   <form action="/checkLogin" method="get">
       用户名： <input type="text" name="username"> <br>
       密码 ： <input type="text" name="password"> <br>
       <input type="submit">
   </form>

</body>
</html>