<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <input v-model="username">
            <input v-model="password">
        </div>
        <div>
            <button v-on:click="login">github 授权</button>
            <button v-on:click="logout">Logout</button>
            <button v-on:click="getUser">GetUser</button>
        </div>
        <div>
            <button onclick="document.getElementById('log').innerHTML = ''">Clear Log</button>
        </div>

        <img :src="heardSrc" alt="">
        <div>{{name}}</div>

        <!-- 测试arr 深层数据改变不生效 -->
        <div>
            <p v-for="item in testArr">
                <span>{{item}}</span>
                <!-- <span>{{item.age}}</span> -->
            </p>
        </div>

        <button @click="changeData">改变</button>
    </div>
    <h6 id="log"></h6>
    </div>
    <script>
        // axios.defaults.baseURL = 'http://localhost:3000'
        axios.defaults.withCredentials = true
        axios.interceptors.response.use(
            response => {
                document.getElementById('log').append(JSON.stringify(response.data))
                return response;
            }
        );
        var app = new Vue({
            el: '#app',
            data: {
                username: 'test',
                password: 'test',
                heardSrc: '',
                name: '',
                testArr: [1, 2, 3, 4]
            },
            watch: {

            },
            mounted() {
                let flag = window.location.href.indexOf('login') > -1;

                if (flag) {
                    // window.location.replace("http://localhost:3001/index1.html")
                    this.getUser();
                }
            },
            methods: {

                changeData() {
                    // this.testArr[1] = "铁兵";

                    // 解决办法 第一种
                    this.testArr.splice(0, 1, "老铁");

                    // 第二种
                    Vue.set(this.testArr, 1, "雷达兵")
                    console.log("执行改变")
                },
                async login() {
                    // await axios.post('/login', {
                    //     username: this.username,
                    //     password: this.password
                    // })
                    window.location.href = "/github/login"
                },
                async logout() {
                    await axios.post('/logout')
                },
                async getUser() {
                    let res = await axios.get('/getUser');
                    this.name = res.data.message.userInfo.name
                    this.heardSrc = res.data.message.userInfo.avatar_url

                    console.log(res);

                }
            }
        });
    </script>
</body>

</html>